@use 'variables';

.event {
    padding: 80px 30px;
    background-image: linear-gradient(variables.$cor4, variables.$cor2);
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__image {
        width: 100%;
    }

    &__details {

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            font-size: 16px;
            line-height: 22px;
        }
    }
    @media (max-width:767px) {
        padding: 40px 0;
        .container {
            display: block;
            text-align: center;
        }

        &__image {
            margin-top: 20px;
            max-width: 100%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}