@use 'variables';

.infos-bar {
    margin: 24px;
    padding: 16px 24px;
    background-color: variables.$cor4;
    display: flex;
    justify-content: space-between;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            color: variables.$textColorSecondary;
            font-size: 14px;

            b {
                color: variables.$textColorSecondary;
                font-size: 18px;
                display: block;
            }
        }
    }
    @media (max-width:767px) {
        display: block;
        margin: 0;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }
}